 /* General Styles */
 body {
   
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000000;
}

/* Navigation Bar */
nav {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(84, 144, 208);;
    opacity: 0.6;
    padding: 0.6rem;

    
}

nav ul {
    list-style: none;
    
    margin: 0;
    padding: 0;
    justify-content: space-around;
    overflow:hidden;

}

nav ul li {
    display: inline;
    float:right;
    padding:20px;
    overflow:hidden;
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px,16px;
    display: block;
  
}
nav ul li div {
    color: white;
    text-decoration: none;
    padding: 3px,3px;
    display: block;
  
}
nav input {
    color:white;
}
nav ul li a:hover {
    color: black;
    background-color: rgb(84, 144, 208);
}

/* Header Section */
header {

    background-color: rgb(84, 144, 208);
    opacity: 0.6;
    color: white;
    padding: 0.8rem;
    text-align: center; 
}

/* Main Content */
main {
    padding: 2rem;
    text-align: center;
}

section {		
    margin: 2rem 0;
}		

/* Footer */
footer {
    font-family:'Courier New', Courier, monospace ;
    background-color: rgb(84, 144, 208);
    opacity: 0.6;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom:0
}
img{
    width: 110px;
}
form{
    position: relative;
    top: 20%;
    left: 87%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 40px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color :rgb(84, 144, 208);
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 300px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: rgb(84, 144, 208);
    color: white;
}
video{
    width:1520px;
}